body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.menu {
    justify-content: space-between;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.menu ul {
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title_section,
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.title {
    margin: 100px;
}

.body_section1,
.body_section2,
.body_section3 {
    display: flex;
    justify-content: center;
}

.body1 {
    margin: 100px;
}

.body_section2 {
    background-color: #e5e7eb;
}

.body2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body2 p {
    font-style: italic;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.body2_div {
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

.body3 {
    margin: 100px;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 20px;
}