body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.menu {
    justify-content: space-between;
}

.menu h2 {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.menu ul {
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title_section,
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.title {
    margin: 70px;
    display: flex;
    justify-content: space-evenly;
}

.title1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
}

.title1 h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0;
    margin-bottom: 0;
}

.title1 p {
    font-size: 18px;
    color: #e5e7eb;
}

.title1 button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #3882f6;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.title2 {
    width: 40%;
    background-color: #6b6c6f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.body_section1,
.body_section2,
.body_section3 {
    display: flex;
    justify-content: center;
}

.body1 {
    margin: 100px;
}

.body_section2 {
    background-color: #e5e7eb;
}

.body2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body2 p {
    font-style: italic;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.body2 div {
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

.body3 {
    display: flex;
    justify-content: center;
}

.body3_div {
    background-color: #3882f6;
    border-radius: 8px;
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7vw;
    padding: 4vh;
    padding-left: 15%;
    padding-right: 15%;
}

.body3_div p, button {
    color: white;
    margin: 0;
}

.call {
    font-size: 20px;
    font-weight: bold;
}

.sign_up {
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 20px;
}